<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular Crud</a>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/welcome">Welcome</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/estadostareas">Estado de tareas</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

